@page "/empresa/editar/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService


<h3>Editar Empresa</h3>

@if (empresa is null)
{
    <p>Cargando...</p>
}
else
{
    <EmpresaForm @ref="empresaForm" Empresa="empresa" OnValidSubmit="EditAsync" ReturnAction="Return" />
}

@code {
    private Empresa? empresa;
    private EmpresaForm? empresaForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Empresa>($"api/empresas/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("empresas");
                return;
            }

            var messageError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            return;
        }

        empresa = responseHTTP.Response;
    }

    private async Task EditAsync()
    {
        var responseHTTP = await repository.Put("api/empresas", empresa);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        empresaForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/empresa");
    }
}
