@page "/component1"

<div class="my-component">
    This component is defined in the <strong>@Ruta</strong> library.
</div>

@code{
    [CascadingParameter]
    public string Ruta { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        string x = Ruta;
    }
}
    
