@page "/component1/{datos}"

<div class="my-component">
    This component is defined in the <strong>@Datos</strong> library.
</div>

@code{
    [Parameter]
    public string Datos { get; set; } = null!;
}
    
