@inherits LayoutComponentBase
@using SQLite

<div class="page">
	<div class="sidebar" onscroll="true">
		<CascadingValue Value="@Ruta">
			<CascadingValue Value="@Tipo">
				<NavMenu />
			</CascadingValue>
		</CascadingValue>
	</div>

	<main>
@*		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>
*@
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code
{
	[CascadingParameter]
	protected string Ruta { get; set; } = null!;

	[CascadingParameter]
	protected int Tipo { get; set; }

	//public SQLiteConnection _Sqlite = null!;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		string datos = Ruta;
		int tip = Tipo;

	}
}