@page "/puestos/crear"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Crear Puesto</h3>
<PuestoForm @ref="puestoForm" Puesto="puesto" OnValidSubmit="Crear" ReturnAction="Return" />

@code {
    private Puesto puesto = new();
    private PuestoForm? puestoForm;

    private async Task Crear()
    {
        var responseHttp = await repository.Post("/api/puestos", puesto);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        puestoForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/puestos");
    }
}
