@page "/tarifas/editar/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService


<h3>Editar Tarifa</h3>

@if (tarifa is null)
{
    <p>Cargando...</p>
}
else
{
    <TarifaForm @ref="tarifaForm" Tarifa="tarifa" OnValidSubmit="EditAsync" ReturnAction="Return" />
}

@code {
    private Tarifa? tarifa;
    private TarifaForm? tarifaForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Tarifa>($"api/tarifas/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("tarifas");
                return;
            }

            var messageError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            return;
        }

        tarifa = responseHTTP.Response;
    }

    private async Task EditAsync()
    {
        var responseHTTP = await repository.Put("api/tarifas", tarifa);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        tarifaForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/tarifas");
    }
}
