@page "/bancos/crear"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Crear Banco</h3>
<BancoForm @ref="bancoForm" Banco="banco" OnValidSubmit="Crear" ReturnAction="Return" />

@code {
    private Banco banco = new();
    private BancoForm? bancoForm;

    private async Task Crear()
    {
        var responseHttp = await repository.Post("/api/bancos", banco);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        bancoForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/bancos");
    }
}
