@page "/itinerarios"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Itinerarios</h3>

<div class="mb-3">
    <a class="btn btn-primary mb-3" href="/itinerarios/crear">Nuevo Itinerario</a>
</div>

<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPageAsync" />

<GenericList MyList="Itinerarios">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Ruta</th>
                    <th>Linea</th>
                    <th>Status</th>
                    <th style="width:400px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var iti in Itinerarios!)
                {
                    <tr>
                        <td>
                            @iti.Descripcion
                        </td>
                        <td>
                            @iti.Ruta?.Nombre
                        </td>
                        <td>
                            @iti.Ruta?.Linea?.Nombre
                        </td>
                        <td>
                            @if (iti.Estado == 1)
                            {
                                <p>Activo</p>
                            }
                            else
                            {
                                <p>Baja</p>
                            }
                        </td>
                        <td>
                            <a class="btn btn-info" href="/itinerarios/detalles/@iti.Id">Detalles</a>
                            <a class="btn btn-warning" href="/itinerarios/editar/@iti.Id">Editar</a>
                            <a class="btn btn-warning" href="/itinerarios/horarios/@iti.Id">Horario</a>
                            <a class="btn btn-warning" href="/itinerarios/tiempos/@iti.Id">Tiempos</a>
                            <a class="btn btn-warning" href="/itinerarios/intervalos/@iti.Id">Intervalos</a>
                            @if (iti.Estado == 1)
                            {
                                <button class="btn btn-secondary" @onclick=@(() => DesactivarAsync(iti))>Desactivar</button>
                            }
                            else
                            {
                                <button class="btn btn-success" @onclick=@(() => ActivarAsync(iti))>Activar</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    [CascadingParameter]
    public string? rutaCnx { get; set; }

    public List<Itinerario>? Itinerarios { get; set; }

    private int currentPage = 1;
    private int totalPages;


    protected async override Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync(int page = 1)
    {
        string url1 = $"api/itinerarios?page={page}";
        string url2 = $"api/itinerarios/totalPages";

        var responseHppt = await repository.Get<List<Itinerario>>(url1);
        var responseHppt2 = await repository.Get<int>(url2);
        Itinerarios = responseHppt.Response!;
        totalPages = responseHppt2.Response!;
    }

    private async Task SelectedPageAsync(int page)
    {
        currentPage = page;
        await LoadAsync(page);
    }

    private async Task DesactivarAsync(Itinerario itinerario)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres Desactivar este itinerario?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        itinerario.Estado = 0;
        var responseHTTP = await repository.Put($"api/itinerarios/", itinerario);

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadAsync();
    }

    private async Task ActivarAsync(Itinerario itinerario)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres activar este itinerario?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        itinerario.Estado = 1;
        var responseHTTP = await repository.Put($"api/itinerarios/", itinerario);

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadAsync();
    }
}
