@page "/perfiles/editar/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService


<h3>Editar Perfil</h3>

@if (perfil is null)
{
    <p>Cargando...</p>
}
else
{
    <PerfilUsuariosForm @ref="perfilForm" Perfil="perfil" OnValidSubmit="EditAsync" ReturnAction="Return" />
}

@code {
    private PerfilUsuario? perfil;
    private PerfilUsuariosForm? perfilForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<PerfilUsuario>($"api/perfiles/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("perfiles");
                return;
            }

            var messageError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            return;
        }

        perfil = responseHTTP.Response;
    }

    private async Task EditAsync()
    {
        var responseHTTP = await repository.Put("api/perfiles", perfil);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        perfilForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/perfiles");
    }
}
