@using Microsoft.AspNetCore.Components.Forms
@inject SweetAlertService sweetAlertService

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Perfiles Usuario:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Perfil.Nombre" @oninput="EventCallback.Factory.CreateBinder<string>(this, __value => Perfil.Nombre = __value?.ToUpper(), Perfil.Nombre?.ToUpper())" />
            <ValidationMessage For="@(() => Perfil.Nombre)" />
        </div>
    </div>
    <button class="btn btn-success" type="submit">Guardar Cambios</button>
    <button class="btn btn-primary" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
    private EditContext editContext = null!;

    [EditorRequired]
    [Parameter]
    public PerfilUsuario Perfil { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    protected override void OnInitialized()
    {
        editContext = new(Perfil);
    }

    public bool FormPostedSuccessfully { get; set; } = false;
}