@page "/perfiles/crear"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Crear Banco</h3>
<PerfilUsuariosForm @ref="perfilForm" Perfil="perfil" OnValidSubmit="Crear" ReturnAction="Return" />

@code {
    private PerfilUsuario perfil = new();
    private PerfilUsuariosForm? perfilForm;

    private async Task Crear()
    {
        var responseHttp = await repository.Post("/api/perfiles", perfil);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        perfilForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/perfiles");
    }
}
