@page "/intervalos/detalles/{IdRecorrido:int}/{IdItinerario:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

@if (itinerario != null)
{
    <h3>@itinerario?.Descripcion</h3>
    <h5>@itinerario?.Ruta?.Nombre</h5>
    <h5>Intervalos</h5>
  
    <div class="mb-3">
        <a class="btn btn-primary mb-3" href="/intervalos/@itinerario?.Id">Regresar</a>
    </div>
}

<GenericList MyList="lstIntervalos">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Punto</th>
                    <th>Horario Salida</th>
                    <th>Horario Llegada</th>
                    <th>Días</th>
                    <th>Sentido</th>
                    <th>Status</th>
                    <th style="width:400px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inter in lstIntervalos!)
                {
                    <tr>
                        <td>
                            @inter.Trayecto?.Punto?.Nombre
                        </td>
                        <td>
                            @inter.HorarioSalida.ToShortTimeString()
                        </td>
                        <td>
                            @inter.HorarioLlegada.ToShortTimeString()
                        </td>
                        <td>
                            @inter.Dias
                        </td>
                        <td>
                            @if (inter.Sentido == 1)
                            {
                                <p>Ida</p>
                            }
                            else if (inter.Sentido == 2)
                            {
                                <p>Regreso</p>
                            }
                        </td>
                        <td>
                            @if (inter.Estado == 1)
                            {
                                <p>Activo</p>
                            }
                            else
                            {
                                <p>Baja</p>
                            }
                        </td>
                        <td>
                            <a class="btn btn-info" href="/intervalos/editar/@inter.Id">Editar</a>
                            @if (inter.Estado == 1)
                            {
                                <button class="btn btn-secondary" @onclick=@(() => DesactivarAsync(inter))>Desactivar</button>
                            }
                            else
                            {
                                <button class="btn btn-success" @onclick=@(() => ActivarAsync(inter))>Activar</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>


@code {
    private Itinerario? itinerario;

    private List<Intervalo>? lstIntervalos;

    [Parameter]
    public int IdRecorrido { get; set; }

    [Parameter]
    public int IdItinerario { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync(int page = 1)
    {

        var responseHTTP = await repository.Get<Itinerario>($"api/itinerarios/{IdItinerario}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/itinerarios");
                return;
            }

            var messageError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            return;
        }

        itinerario = responseHTTP.Response;

        var responseHTTP2 = await repository.Get<List<Intervalo>>($"api/intervalos/{IdRecorrido}/0/0/0");

        if (responseHTTP2.Error)
        {
            if (responseHTTP2.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/intervalos");
                return;
            }

            var messageError = await responseHTTP2.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            return;
        }

        lstIntervalos = responseHTTP2.Response;
    }

    private async Task DesactivarAsync(Intervalo intervalo)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres Desactivar el Registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        intervalo.Estado = 0;
        var responseHTTP = await repository.Put($"api/intervalos/", intervalo);

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadAsync();
    }

    private async Task ActivarAsync(Intervalo intervalo)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres activar el Registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        intervalo.Estado = 1;
        var responseHTTP = await repository.Put($"api/intervalos/", intervalo);

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
                return;
            }
        }

        await LoadAsync();
    }
}
