@page "/trayectos/crear/{RutaId:int}"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Nuevo Punto Trayecto</h3>

<TrayectoForm @ref="trayectoForm" Trayecto="trayecto" OnValidSubmit="CrearAsync" ReturnAction="Return" />

@code {
    private Trayecto trayecto = new();
    private TrayectoForm? trayectoForm;

    [Parameter]
    public int RutaId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await BuscarPosicion();
    }

    private async Task CrearAsync()
    {
        if (trayecto.Terminal == 0)
        {
            await sweetAlertService.FireAsync("Error", "Indique si es terminal o no", SweetAlertIcon.Info);
            return;
        }

        trayecto.RutaId = RutaId;
        var responseHttp = await repository.Post("/api/trayectos", trayecto);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        trayectoForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo($"/rutas/detalles/{RutaId}");
    }

    private async Task BuscarPosicion()
    {
        string url = $"api/trayectos/{RutaId}/0";

        var responseHppt = await repository.Get<Trayecto>(url);
        Trayecto tra = responseHppt.Response!;

        if (tra==null)
        {
            trayecto.Posicion = 1;
        }
        else
        {
            trayecto.Posicion = tra.Posicion + 1;
        }
    }
}
